body {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #1d1f21;
    color: #e0e0e0;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    position: absolute;
    max-height: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p,
h2, 
h5,
h6 {
    width: 100%;
}

h2,
h5,
h6 {
    line-height: 1.2
}

.ids ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link,
a:hover,
a:active {
    color: #81a2be;
}


a:visited {
    color: #de935f;
}

